<style>
    .btn-group:hover>.dropdown-menu {
        display: block;
        margin-top: -1px;
    }
    .dropdown-menu li a:hover{
        background-color: #5093E1;
    }
</style>
<div class="index-content-header">
</div>

<div class="index-content-body">
    <!--start left div-->
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 55px);">
            <div class="col-xs-12" style="height: 120px; padding-top: 5px">
                <table class="background-dark" style="border-radius: 5px">
                    <col style="width: 50%">
                    <col style="width: 50%">
                    <col />
                    <thead>
                        <tr>
                            <td>
                                <input  id="type"  class="form-control" placeholder="advance type" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" >
                                <!--                                <select class="form-control" id="sel2">
                                                                    <option>Empyolee Advance Payment</option>
                                                                    <option>Green Leaves  Advance Payment</option>
                                                                    <option>Loan  Advance Payment</option>
                                                                    <option>Other</option>
                                                                </select>-->
                            </td>
                            <td>
                                 <input class="form-control" id="transaction"   input-hint="transaction number" smart-input="integer" ng-model="model.tempData.transaction" placeholder="transaction number"  ng-disabled="ui.mode === 'NEW' || ui.mode === 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" placeholder="select route officer" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                            <td>
                                <input class="form-control" placeholder="search client" ng-model="model.client"  uib-typeahead="client as (client.name) for client in model.clients|limitTo:7" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--start table header div-->
            <!--end table header div-->
            <div class="col-xs-12" style="flex: 0 0 auto; height:35px;" ng-show="model.vouchers.length">
                <table>
                    <col style="width: 10%">
                    <col style="width: 40%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th>Client</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--end table body div-->
            <div class="col-xs-12 smart-scroll-y" ng-show="model.vouchers.length">
                <table class="table-hover">
                    <col style="width: 10%">
                    <col style="width: 40%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <tbody>
                        <tr ng-class="ui.selectedDetailIndex === voucher.indexNo ? 'selected' : ''" ng-repeat="voucher in model.vouchers|filter : model.client" ng-click="ui.selectDetail(voucher.indexNo);">
                            <td><span class="label label-default">{{voucher.indexNo}}</span></td>
                            <td>{{voucher.description}}</td>
                            <td>{{model.getClient(voucher.client).name}}</td>
                            <td class="text-right">{{voucher.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100vh - 198px);" ng-hide="model.vouchers.length">
                <h1>NO VOUCHERS AVAILABLE :(</h1>
            </div>
            <!--end table body div-->
            <div class="col-xs-12" style="flex: 0 0 auto; height: 39px;">
                <table>
                    <col style="width: 70%"/>
                    <col style="width: 30%"/>
                    <thead class="background-dark">
                        <tr class="clickable">
                            <th>TOTAL</th>
                            <th class="text-right">{{model.vouchers?model.getRequestTotal(model.vouchers.indexNo):0 | number: 2}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--end left div-->
    <!--start right div-->
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12"  style="margin-top: 10px;height: 520px;">
                <!--start cash - 1st tab-->
                <uib-tabset>
                    <uib-tab index="0" heading="Cash">
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col />

                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="amount2" class="control-label text-left">Amount</label>
                                        </td>
                                        <td>
                                            <input class="form-control text-right" id="amount2" type="text" ng-model="model.tempData.cashAmount">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <!--end cash - 1st tab-->
                    <!--start cheque - 2nd tab-->
                    <uib-tab index="1" heading="Cheque">
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <input type="button" style="float: right;padding-right: 15px;" value="Cheque Info" ng-click="ui.checkinfo()" class="btn btn-primary btn-xs"/>
                        </div>
                        <!--start table header-->
                        <!--end table header-->
                        <!--start table body-->
                        <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 400px);" ng-show="model.data.chequeDetails.length">
                            <table class="table-hover">
                                <col style="width: 55%">
                                <col style="width: 30%">
                                <col style="width: 15%">
                                <tbody>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                    <tr>
                                        <td>4646661</td>
                                        <td class="text-right">5000.00</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end table body-->
                        </div>
                        <div class="placeholder col-xs-12 animation-fade" style="height: calc(100vh - 400px);" ng-hide="model.data.chequeDetails.length">
                            <h1>PLEASE ADD CHEQUE TO DISPLAY :(</h1>
                        </div>
                    </uib-tab>
                    <!--end cheque - 2nd tab-->

                </uib-tabset>
            </div>
            <!--start payemnt summry-->
            <div class="col-xs-12">
                <table class="control-table" style="width:352px;position: fixed;bottom: 0px;">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <tbody>
                        <tr>
                            <td>
                                <label class="control-label text-left">Voucher Summary</label>
                            </td>
                            <td>
                                <label class="control-label text-left">{{model.amount| number: 2}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label text-left">Total Cash</label>
                            </td>
                            <td>
                                <label class="control-label text-left">{{model.tempData.cashAmount|number:2}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="totalCheque" class="control-label text-left">Total Cheque</label>
                            </td>
                            <td>
                                <label for="totalCheque" class="control-label text-left">3000.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="totalPayment" class="control-label text-left">Total Payment</label>
                            </td>
                            <td>
                                <label for="totalPayment" class="control-label text-left">3000.00</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="balance" class="control-label text-left">balance</label>
                            </td>
                            <td>
                                <label for="balance" class="control-label text-left">3000.00</label>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--end payemnt summry-->
        </div>
    </div>
    <!--end right div-->
</div>
 <div class="fab-container">
        <!--discard-->
        <a class="fab fab-default" fab-show="ui.mode === 'NEW' || ui.mode==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <!--load-->
        <a class="fab fab-warning" fab-show="ui.mode === 'IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
        <!--clear-->
        <a class="fab fab-warning" fab-show="ui.mode === 'SELECTED'" ng-click="ui.clear();"><i class="glyphicon glyphicon-erase"></i></a>
        <!--delete-->
        <a class="fab fab-danger" fab-show="ui.mode === 'SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <!--edit-->
        <a class="fab fab-success" fab-show="ui.mode === 'SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>

        <!--new-->
        <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'"  ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
        <!--save-->
        <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'NEW' || ui.mode==='EDIT'"  ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    </div>