<div class="index-content-body ">
    <div class="col-xs-8 background-light">
        <div class="row background-dark border-dark-bottom">
            <div class="col-xs-12">
                <table class="control-table">
                    <col class="col-xs-3">
                    <col class="col-xs-3">
                    <col class="col-xs-3">
                    <col class="col-xs-3">
                    <tbody>
                        <tr>
                            <td>
                                <input id="branch" class="form-control" ng-model="model.data.branch" input-hint="branch" uib-typeahead="branch.indexNo as (branch.indexNo + ' - ' + branch.name) for branch in model.branchs|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.bracnhLable($model)" typeahead-on-select="ui.serchWeight($model)">
                            </td>
                            <td>
                                <input class="form-control" ng-model="model.data.route" input-hint="route" uib-typeahead="route.indexNo as (route.indexNo + ' - ' + route.name) for route in model.routes|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.routeLabel($model)" typeahead-on-select="ui.getRouteOfficerAndRouteHelperAndVehicle($model);" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                            <td>
                                <input class="form-control" smart-input="date" ng-model="model.data.date" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                            <td>
                                <input class="form-control" smart-input="integer"  input-hint="transaction number"  ng-model="model.data.number" ng-keypress="ui.load($event);" ng-disabled="ui.mode === 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="control-table">
                    <col class="col-xs-5"/>
                    <col class="col-xs-5"/>
                    <col class="col-xs-2"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" smart-input="text" ng-model="model.data.routeOfficer" ng-disabled="ui.mode !== 'EDIT'" input-hint="route officer" uib-typeahead="routeOfficer.indexNo as (routeOfficer.indexNo + ' - ' + routeOfficer.name) for routeOfficer in model.routeOfficers|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.routeOfficerLabel($model)"/></td>
                            <td><input class="form-control" smart-input="text" ng-model="model.data.routeHelper" ng-disabled="ui.mode !== 'EDIT'" input-hint="route helper"  uib-typeahead="routeHelper.indexNo as (routeHelper.indexNo + ' - ' + routeHelper.name) for routeHelper in model.routeHelpers|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.routeHelperLabel($model)"/></td>
                            <td><input class="form-control" smart-input="text" ng-model="model.data.vehicle" ng-disabled="ui.mode !== 'EDIT'" input-hint="vehicle" uib-typeahead="vehicle.indexNo as (vehicle.indexNo + ' - ' + vehicle.vehicleNo) for vehicle in model.vehicles|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.vehicleLabel($model)" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="control-table">
                    <col style="width: 15%">
                    <col style="width: 35%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>CLIENT ID</label>
                                <input id="client" smart-input="integer" class="form-control" ng-model="customerId" ng-keypress="ui.searchClient($event);" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th>
                                <label>CLIENT INFORMATION</label>
                                <input smart-input="text" class="form-control" ng-model="model.tempData.client" ng-bind="model.clientLabel(model.tempData.client)" uib-typeahead="client.indexNo as (client.clientNumber + '-' + client.name) for client in model.clients|filter:{name:$viewValue}|limitTo:10"  typeahead-input-formatter="model.clientLabel($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right">
                                <label>NORMAL</label>
                                <input id="normalLeaves" type="text" smart-input="integer" class="form-control text-right" ng-model="model.tempData.normalLeavesQuantity" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right">
                                <label>SUPER</label>
                                <form ng-submit="ui.insertDetail();">
                                    <input type="text" smart-input="integer" class="form-control text-right" ng-model="model.tempData.superLeavesQuantity" ng-disabled="ui.mode !== 'EDIT'">
                                </form>
                            </th>
                            <th style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px">
                                <button class="btn btn-primary" ng-click="ui.addDetail();" ng-disabled="ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-plus"></span></button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 287px);" ng-show="model.data.greenLeavesReceiveDetails.length">
                <table class="table-hover">
                    <col style="width: 45%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 15%">
                    <tbody>
                        <tr ng-repeat="greenLeavesReceiveDetails in model.data.greenLeavesReceiveDetails" >
                            <td>
                                <div ng-if="greenLeavesReceiveDetails.client">
                                    <div class="label" ng-class="model.client(greenLeavesReceiveDetails.client).route === model.data.route ? 'label-default' : 'label-danger'">{{model.client(greenLeavesReceiveDetails.client).clientNumber | fixedLength:5}}</div> 
                                    {{model.client(greenLeavesReceiveDetails.client).name}}
                                </div>
                                <div ng-if="!greenLeavesReceiveDetails.client">
                                    <div class="label label-danger"> new </div> 
                                    {{greenLeavesReceiveDetails.remark}}
                                </div>
                            </td>
                            <td class="text-right">{{greenLeavesReceiveDetails.normalLeavesQuantity|number:2}}</td>
                            <td class="text-right">{{greenLeavesReceiveDetails.superLeavesQuantity|number:2}}</td>
                            <td>
                                <a class="btn btn-default" ng-click="ui.editDetail($index);"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger"  ng-click="ui.deleteDetail($index);"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100vh - 287px);" ng-hide="model.data.greenLeavesReceiveDetails.length">
                <h1>PLEASE ADD SUPER LEAVES TO DISPLAY :(</h1>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 50%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th>TOTAL QUANTITY</th>
                            <th class="text-right">{{model.totalQuantity[0]|number:2}}</th>
                            <th class="text-right">{{model.totalQuantity[1]|number:2}}</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark border-dark-left" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
        <div class="col-xs-12">
            <table>
                <thead>
                    <tr ng-class="model.data.status === 'DELETED' ? 'background-danger' : 'selected'">
                        <td class="text-center"><h4>FACTORY QUANTITY</h4></td>
                    </tr>
                </thead>
            </table>

            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>
                    <tr>
                        <td><label class="control-label">NORMAL</label></td>
                        <td><input class="form-control text-right" ng-model="model.factoryQuantity[0]" ng-disabled="true"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">SUPER</label></td>
                        <td><input class="form-control text-right" ng-model="model.factoryQuantity[1]" ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr ng-class="model.data.status === 'DELETED' ? 'background-danger' : 'selected'">
                        <td class="text-center"><h4>DIFFERENCE QUANTITY</h4></td>
                    </tr>
                </thead>
            </table>

            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>
                    <tr>
                        <td><label class="control-label">NORMAL</label></td>
                        <td><input class="form-control text-right" ng-model="model.differenceQuantity[0]" ng-disabled="true"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">SUPER</label></td>
                        <td><input class="form-control text-right" ng-model="model.differenceQuantity[1]" ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="fab-container">
        <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="fab fab-success" fab-show="ui.mode ==='IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
        <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>
