<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">

            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <input type="text" class="search-input" placeholder="search" ng-model="search.name">

                <table>
                    <thead>
                        <tr>
                            <th>ROUTES</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="flex: 1 1 auto;">
                <table class="table-hover table-primary">
                    <tbody>
                        <tr ng-repeat="route in model.routes|filter:search" ng-class="route.indexNo === model.data.route ? 'selected' : ''" ng-click="ui.selectRoute(route.indexNo)">
                            <td><span class="label label-primary">{{route.indexNo|fixedLength:5}}</span>&nbsp;&nbsp;&nbsp;{{route.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <table class="control-table">
            <col class="col-xs-6">
            <col class="col-xs-3">
            <col class="col-xs-3">

            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input id="date" class="form-control" smart-input="date" ng-model="model.data.date" ng-disabled="ui.mode !== 'EDIT'">
                    </td>
                    <td>
                        <input class="form-control" smart-input="integer"  input-hint="transaction number"  ng-model="model.data.number" ng-keypress="ui.load($event);" ng-disabled="ui.mode === 'EDIT'">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-xs-12">
                <table class="control-table">
                    <col style="width: 50%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>CLIENT INFORMATION</label>
                                <input id="client" smart-input="text" class="form-control" ng-model="model.tempData.client" uib-typeahead="client.indexNo as (client.indexNo + '-' + client.name) for client in model.clients|filter:$viewValue|limitTo:10"  typeahead-input-formatter="model.clientLabel($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right">
                                <label>NORMAL</label>
                                <input type="text" smart-input="integer" class="form-control text-right" ng-model="model.tempData.normalLeavesQuantity" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right">
                                <label>SUPER</label>
                                <form ng-submit="ui.insertDetail();">
                                    <input type="text" smart-input="integer" class="form-control text-right" ng-model="model.tempData.superLeavesQuantity" ng-disabled="ui.mode !== 'EDIT'">
                                </form>
                            </th>
                            <th style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px">
                                <button class="btn btn-primary" ng-click="ui.addDetail();" ng-disabled="ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-plus"></span></button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 315px);" ng-show="model.data.greenLeavesReceiveDetails.length">
                <table class="table-hover">
                    <col style="width: 50%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <tbody>
                        <tr ng-repeat="greenLeavesReceiveDetails in model.data.greenLeavesReceiveDetails" >
                            <td><div class="label label-default">{{model.client(greenLeavesReceiveDetails.client).indexNo | fixedLength:5}}</div> {{model.client(greenLeavesReceiveDetails.client).name}}</td>
                            <td class="text-right">{{greenLeavesReceiveDetails.normalLeavesQuantity|number:2}}</td>
                            <td class="text-right">{{greenLeavesReceiveDetails.superLeavesQuantity|number:2}}</td>
                            <td>
                                <a class="btn btn-default" ng-click="ui.editDetail($index);"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger"  ng-click="ui.deleteDetail($index);"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100vh - 315px);" ng-hide="model.data.greenLeavesReceiveDetails.length">
                <h1>PLEASE ADD SUPER LEAVES TO DISPLAY :(</h1>
            </div>

            <div class="col-xs-12">
                <table style="padding-right: 10px;">
                    <col style="width: 50%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th>TOTAL QUANTITY</th>
                            <th class="text-right">{{model.totalQuantity[0]|number:2}}</th>
                            <th class="text-right">{{model.totalQuantity[1]|number:2}}</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>FACTORY QUANTITY</th>
                            <th class="text-right">{{model.factoryQuantity[0]|number:2}}</th>
                            <th class="text-right">{{model.factoryQuantity[1]|number:2}}</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                        <tr>
                            <th>DIFFERENCE QUANTITY</th>
                            <th class="text-right">{{model.differenceQuantity[0]|number:2}}</th>
                            <th class="text-right">{{model.differenceQuantity[1]|number:2}}</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="fab-container">
        <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="fab fab-success" fab-show="ui.mode ==='IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
        <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>