<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-light">
        <div class="animation-fade" style="display: flex; flex-flow: column; height: calc(100vh - 52px); margin-top: 15px">
            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>
                    <tr>
                        <td><label class="control-label">Brand</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.brand" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Name</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.name" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Vehicle</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.vehicle" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Route Officer</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.routeOfficer" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Route Helper</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.routeHelper" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Driver</label></td>
                        <td> <input class="date form-control text-right"  ng-model="model.route.driver" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Transport Deduction Rate</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.deductionRate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Registration Date</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.regDate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Mileage</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.mileage" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Start Date</label></td>
                        <td><input class="form-control text-right" ng-model="model.route.startDate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-8 background-light">
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
<!--<div class="index-content-footer">
    content footer
</div>-->