<table class="control-table">
    <col style="width: 35%"/>
    <col style="width: 65%"/>

    <tbody>
        <tr>
            <td><label class="control-label">VEHICLE NO</label></td>
            <td><input class="form-control" ng-model="model.data.vehicleNo" ng-disabled="ui.mode !== 'EDIT'" ></td>
        </tr>
        <tr>
            <td><label class="control-label">ENGINE NO</label></td>
            <td><input class="form-control" ng-model="model.data.engineNo" ng-disabled="ui.mode !== 'EDIT'"></td>
        </tr>
        <tr>
            <td><label class="control-label">CHASIS NO</label></td>
            <td><input class="form-control" ng-model="model.data.chasisNo" ng-disabled="ui.mode !== 'EDIT'"></td>
        </tr>
    </tbody>
</table>