<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12 " style="flex: 0 0 auto;">

                <table> 
                    <col style="width: 52%"/>
                    <col style="width: 24%"/>
                    <col style="width: 24%"/>
                    <col/>
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <input class="form-control" style="margin-top: 5px" smart-input="text" ng-model="model.data.routeOfficer" ng-disabled="ui.mode !== 'EDIT'" input-hint="route officer" uib-typeahead="routeOfficer.indexNo as (routeOfficer.indexNo + ' - ' + routeOfficer.name) for routeOfficer in model.routeOfficers|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.routeOfficerLabel($model)" />
                            </th>
                            <th>
                                <input id="date" style="margin-top: 5px" input-hint="Date" class="form-control" smart-input="date"  ng-model="model.data.date">
                            </th>
                            <th>
                                <input class="form-control" style="margin-top: 5px" smart-input="integer"  input-hint="transaction number"  ng-model="model.data.number" ng-keypress="ui.load($event);" ng-disabled="ui.mode === 'EDIT'">
                            </th>
                        </tr>
                    </thead>
                </table>
                <table>
                    <col style="width: 20%"/>
                    <col style="width: 40%"/>
                    <col style="width: 40%"/>
                    <col/>
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>SUPPLIER ID</label>
                                <input smart-input="integer" class="form-control" ng-model="model.data.customerId" ng-keypress="ui.searchClient($event);" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th>
                                <label>SUPPLIER</label>
                                <input smart-input="text" class="form-control" ng-model="model.data.client" uib-typeahead="client.indexNo as (client.clientNumber + '-' + client.name) for client in model.clients|filter:{name:$viewValue}|limitTo:10"  typeahead-input-formatter="model.clientLabel($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right">
                                <label>MONTH</label>
                                <select class="form-control" ng-model="model.data.type" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                    <option value="ONE-MONTH" selected="selected">ONE-MONTH</option>
                                    <option value="TWO-MONTH">PREVIOUS</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>

            </div>
            <div class="col-xs-12 " style="flex: 0 0 auto;height: 80px;">
                <table>
                    <col style="width: 35%"/>
                    <col style="width: 20%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <col/>
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>ITEM</label>
                                <input id="item" type="text" ng-model="model.tempData.product" uib-typeahead="product.indexNo as (product.productNo + ' - ' + product.name) for product in model.products|filter:$viewValue|limitTo:10" class="form-control" typeahead-input-formatter="model.productLabel($model)" typeahead-on-select="ui.getPrice($model);" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"/>
                            </th>
                            <th>
                                <label>PRICE</label>
                                <input smart-input="decimal" ng-model="model.tempData.price" class="form-control" ng-disabled="true"/>
                            </th>
                            <th>
                                <label>QTY</label>
                                <input smart-input="integer" ng-model="model.tempData.qty" class="form-control" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"/>
                            </th>
                            <th>
                                <label>VALUE</label>
                                <input smart-input="decimal" ng-model="model.tempData.amount" class="form-control" ng-disabled="true"/>
                            </th>
                            <th>
                                <button style="margin-top: 10px;" type="button" class="btn btn-primary" ng-click="ui.addDetail();" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 260px);" ng-show="model.data.tfertilizerDetailList.length">
                <table class="table-hover">
                    <col style="width: 35%"/>
                    <col style="width: 20%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <col/>
                    <tbody >                       
                        <tr style="height: 40px" ng-repeat="detail in model.data.tfertilizerDetailList">
                            <td class="text-left"><label class="label label-default">{{model.product(detail.product).productNo}}</label>{{model.product(detail.product).name}}</td>
                            <td class="text-right">{{model.product(detail.product).salePrice | number:2}}</td>
                            <td class="text-right">{{detail.qty}}</td>
                            <td class="text-right">{{model.product(detail.product).salePrice * detail.qty | number:2}}</td>
                            <td>
                                <a class="btn btn-default" ng-click="ui.editDetail($index);"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-danger"  ng-click="ui.deleteDetail($index);"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100% - 260px);" ng-hide="model.data.tfertilizerDetailList.length">
                <h1>PLEASE ADD ITEMS :(</h1>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 30%;"/>
                    <col style="width: 70%;"/>
                    <thead class="background-dark">
                        <tr>
                            <td>TOTAL</td>
                            <td class="text-right">{{model.itemTotal() | number:2}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark border-dark-left">
        <side-panel client="model.data.client" date="model.data.date">
        </side-panel>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
    <a class="fab fab-success" fab-show="ui.mode ==='IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
    <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
</div>