<div class="index-content-header">
</div>

<div class="index-content-body ">

    <div class="col-xs-4 background-dark border-dark-right">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12" style="flex: 0 0 auto;">
                <input type="text" class="search-input" placeholder="search">
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 60%"/>
                    <col style="width: 10%"/>
                    <col style="width: 30%"/>
                    <thead>
                        <tr>
                            <th>REQUEST</th>
                            <th class="text-right">#</th>
                            <th class="text-right">AMOUNT</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="flex: 1 1 auto;height: calc(100% - 200px);">
                <table class="table-hover table-primary">
                    <col style="width: 60%"/>
                    <col style="width: 10%"/>
                    <col style="width: 30%"/>
                    <tbody>
                        <tr ng-class="ui.selectedDataIndex === request[0] ? 'selected' : ''" ng-repeat="request in model.requests" ng-click="ui.selectData(request[0]);">
                            <td>
                                <span class="label label-primary">{{request[0]|fixedLength:5}}</span> {{model.getRoute(request[0]).name}}
                            </td>
                            <td class="text-right"><span class="label label-primary">{{request[2]}}</span></td>
                            <td class="text-right">{{request[1] | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 60%"/>
                    <col style="width: 15%"/>
                    <col style="width: 30%"/>
                    <tbody>
                        <tr class="text-bold">
                            <td>SUMMARY</td>
                            <td class="text-right"><span class="label label-primary">{{model.getRequestCount()}}</span></td>
                            <th class="text-right"><span class="label label-primary">{{model.getRequestTotal() | number:2}}</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-4 background-light">
        <div class="row" ng-show="model.requestsData" style="display: flex; flex-flow: column; height: calc(100vh - 51px);">
            <div class="col-xs-12" >
                <table>
                    <col style="width: 70%;"/>
                    <col style="width: 30%;"/>
                    <col />
                    <thead>
                        <tr>
                            <th>CLIENT</th>
                            <th class="text-right">AMOUNT</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 78px);">
                <table class="table-hover table-hover">
                    <col style="width: 70%;"/>
                    <col style="width: 30%;"/>
                    <tbody>
                        <tr ng-class="ui.selectedDetailIndex === detail.indexNo ? 'selected' : ''" ng-repeat="detail in model.requestsData" ng-click="ui.selectDetail(detail);">
                            <td>
                                <span class="label label-primary">{{model.getClient(detail.client).indexNo | fixedLength:5}}</span>
                                {{model.getClient(detail.client).name}}
                            </td>
                            <td class="text-right">{{detail.amount|number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 30%;"/>
                    <tbody>
                        <tr class="text-bold">
                            <td>SUMMARY</td>
                            <td class="text-right"><span class="label label-primary">{{model.requestsData.length}}</span></td>
                            <td class="text-right"><span class="label label-primary">{{model.getRequestDataTotal() | number:2}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="placeholder" ng-hide="model.requestsData" style="height: calc(100vh - 51px); padding: 10px 0px 10px 0px;">
                <h1>PLEASE SELECT AN ADVANCE REQUEST TO DISPLAY :(</h1>
        </div>
    </div>

    <div class="col-xs-4 background-dark border-dark-left">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12">
                <table>
                    <col style="width: 50%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <thead>
                        <tr>
                            <th>DESCRIPTION</th>
                            <th class="text-right">DEBIT</th>
                            <th class="text-right">CREDIT</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 305px);">
                <table>
                    <col style="width: 50%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <tbody>
                        <tr ng-repeat="clientRowData in model.clientLedgerHistory">
                            <td>
                                <span class="label label-primary">{{clientRowData[0]|date:'yyyy-MM-dd'}}</span>
                                <span>{{clientRowData[1]}}</span>
                            </td>
                            <td class="text-right" >{{clientRowData[2] === 0? '': clientRowData[2]|number:2}}</td>
                            <td class="text-right" >{{clientRowData[3] === 0? '': clientRowData[3]|number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <tbody>
                        <tr class="text-bold">
                            <td>Total</td>
                            <td class="text-right">{{ui.getClientLedgerTotal()[0]|number:2}}</td>
                            <td class="text-right">{{ui.getClientLedgerTotal()[1]|number:2}}</td>
                        </tr>
                        <tr class="text-bold">
                            <td>Balance</td>
                            <td class="text-right">{{ui.getClientLedgerTotal()[2]|number:2}}</td>
                            <td class="text-right">{{ui.getClientLedgerTotal()[3]|number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12"  style="margin-top: 10px; height: 170px;">
                <canvas id="base" class="chart-bar"
                        data-chart-data="data" 
                        data-chart-labels="labels" 
                        data-chart-colors="colors"
                        data-chart-dataset-override="datasetOverride">
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-danger" fab-show="ui.selectedDetailIndex" ng-click="ui.reject();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.selectedDetailIndex" ng-click="ui.approve();"><i class="glyphicon glyphicon-ok"></i></a>
</div>