/GREEN_LEAVES/target/
/GREEN_LEAVES/bower_components/
/GREEN_LEAVES/node_modules/
/GREEN_LEAVES/src/main/resources/static/
/GreenLeavesORM/build/
*.html
!/GREEN_LEAVES/src/site/app/transactions/green-leaves/green-leaves-receive/green-leaves-receive.html