<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-12">        
        <div class="row">


            <uib-tabset>
                <uib-tab heading="PERSONAL DETAIL" ng-click="ui.toggleType('NORMAL');">
                    <div class="col-xs-12">
                        <br>
                        <div class="col-xs-4 background-dark">
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Supplier No :</label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.indexNo"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> NIC No: </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.nic"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Mobile :</label></td>
                                        <td><input class="form-control text-right" smart-input="integer" ng-model="supplier."></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Name :</label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.name"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Address :</label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.address"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Reg Date: </label></td>
                                        <td><input class="form-control text-right" type="date" ng-model="supplier.regDate"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-xs-4 background-dark">
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Ex Pay Rate : </label></td>
                                        <td><input class="form-control text-right" smart-input="decimal" ng-model="supplier.exPayRate"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Transport : </label></td>
                                        <td><input class="form-control text-right" smart-input="decimal" ng-model="supplier.transport"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-4 background-dark">
                            <br>
                            <center>
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Cash/Cheque</label>
                                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Bank</label>
                                </div>
                            </center>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Bank Name : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank.name"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Branch : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank.branch"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Account No : </label></td>
                                        <td><input class="form-control text-right" smart-input="integer" ng-model="supplier.bank.accNo"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Acc Name : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank.accName"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Fix Amount : </label></td>
                                        <td><input class="form-control text-right" smart-input="decimal" ng-model="supplier.fixAmount"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Bank Name : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank2.name"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Branch : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank2.branch"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Account No : </label></td>
                                        <td><input class="form-control text-right" smart-input="integer" ng-model="supplier.bank2.accNo"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="control-table">
                                <col style="width: 35%"/>
                                <col style="width: 65%"/>

                                <tbody>
                                    <tr>
                                        <td><label class="control-label"> Acc Name : </label></td>
                                        <td><input class="form-control text-right" type="text" ng-model="supplier.bank2.accName"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </uib-tab>

                <uib-tab heading="GENERAL DETAIL" ng-click="ui.toggleType('SUPER');">
                    <label>GENERAL DETAIL </label>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>