<table class="control-table">
    <col style="width: 35%"/>
    <col style="width: 65%"/>

    <tbody>
        <tr>
            <td><label class="control-label">NAME</label></td>
            <td><input class="form-control" id="route" ng-model="model.data.name" ng-disabled="ui.mode !== 'EDIT'" ></td>
        </tr>
        <tr>
            <td><label class="control-label">VEHICLE</label></td>
            <td><input class="form-control" ng-model="model.data.vehicle" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="vehicle as (vehicle.vehicleNo) for vehicle in model.vehicles|filter:{vehicleNo:$viewValue}|limitTo:10"></td>
        </tr>
        <tr>
            <td><label class="control-label">OFFICER</label></td>
            <td><input class="form-control" ng-model="model.data.routeOfficer" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="routeOfficer as (routeOfficer.indexNo+ '-' +routeOfficer.name) for routeOfficer in model.employees|filter:{name:$viewValue}| filter : {type : 'ROUTE_OFFICER'} |limitTo:10"></td>
        </tr>
        <tr>
            <td><label class="control-label">HELPER</label></td>
            <td><input class="form-control" ng-model="model.data.routeHelper" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="routeHelper as (routeHelper.indexNo+ '-' +routeHelper.name) for routeHelper in model.employees|filter:{name:$viewValue}| filter : {type : 'ROUTE_HELPER'}|limitTo:10"></td>
        </tr>
        <tr>
            <td><label class="control-label">T/D RATE</label></td>
            <td><input smart-input="decimal" class="form-control text-right" ng-model="model.data.transportDeductionRate" ng-disabled="ui.mode !== 'EDIT'"></td>
        </tr>

    </tbody>
</table>