<div>
    <div class="col-xs-12">
        <table>
            <tr>
                <th>INDEX NO</th>
                <th>NAME</th>
                <th>TRANSPORT DEDUCTION</th>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 150px);">
        <table class="table-hover">
            <tr ng-repeat="data in model.list|filter:model.keyword" ng-click="ui.select(data);" ng-class="model.data.indexNo===data.indexNo?'selected':''">
                <td><label class="label label-default">{{data.indexNo|fixedLength:5}}</label></td>
                <td>{{data.name}}</td>
                <td>{{data.transportDeductionRate|number:2}}</td>
            </tr>
        </table>
    </div>
</div>