<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);padding-top: 5px;">
            <div class="col-xs-12">
                <table style="padding-right: 5px;">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <col/>
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <input id="year_text" style="margin-top: 5px" ng-model="year" smart-input="integer" class="form-control text-right" ng-disabled="ui.mode === 'IDEAL' || ui.mode === 'LOAD'" placeholder="year">
                            </th>
                            <th>
                                <input style="margin-top: 5px" ng-model="month" ng-keypress="enterEvent($event)" smart-input="integer" class="form-control text-right" ng-disabled="ui.mode === 'IDEAL' || ui.mode === 'LOAD'" placeholder="month">
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <col />
                    <thead>
                        <tr>
                            <th>DESCRIPTION </th>
                            <th class="text-right">DEBIT</th>
                            <th class="text-right">CREDIT</th>
                            <th class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 221px);">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <col />

                    <tbody>
                        <tr ng-repeat="accountTransaction in model.accountTtransactionList">
                            <td >{{model.getTransactionType(accountTransaction.transactionType)}}</td>
                            <td class="text-right" >{{accountTransaction.debitAmount === 0 ? '- -' : accountTransaction.debitAmount| currency : '' : 2}}</td>
                            <td class="text-right" >{{accountTransaction.creditAmount === 0 ? '- -' : accountTransaction.creditAmount| currency : '' : 2}}</td>
                            <td><a class="btn btn-primary" ng-click="ui.getDetail(year, month, accountTransaction.transactionType)"><span class="glyphicon glyphicon-paste"></span></a></td>

                        </tr>
                      
                    </tbody>
                </table>
                <div class="col-xs-12 text-center" style="height: calc(55vh - 0px);" ng-hide="model.accountTtransactionList.length">
                    <h1>NO DETAIL TO DISPLAY :(</h1>
                </div>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <col />

                    <tbody>
                        <tr class="text-bold">
                            <td>Total</td>
                            <td class="text-right">{{model.totalDebit| currency : '' : 2}}</td>
                            <td class="text-right">{{model.totalCredit| currency : '' : 2}}</td>
                            <td></td>
                        </tr>
                        <tr class="text-bold">
                            <td>Balance</td>
                            <td class="text-right">{{model.totalDebit - model.totalCredit| currency : '' : 2}}</td>
                            <td class="text-right">-</td>   
                            <td></td>
                        </tr>
                        <tr class="text-bold">
                            <td>C/F</td>
                            <td class="text-right">{{model.getCoins(model.totalDebit, model.totalCredit) | currency : '' : 2}}</td>
                            <td class="text-right">-</td>   
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="otherValues">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);padding-top: 10px;">
            <div class="col-xs-12" style="flex: 0 0 auto; height:35px;">
                <table>
                    <col style="width: 10%">
                    <col style="width: 40%">
                    <col style="width: 50%">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>ROUTE</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 80px);">
                <table class="table-hover">
                    <col style="width: 10%">
                    <col style="width: 40%">
                    <col style="width: 50%">
                    <col/>
                    <tbody>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                            <td class="text-right">500.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table style="padding-right: 5px;">
                    <col style="width: 70%"/>
                    <col style="width: 20%"/>
                    <thead class="background-dark">
                        <tr class="background-light">
                            <th>Total</th>
                            <th class="text-right">15500.00</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="showGreenLeaveValues">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);padding-top: 10px;">
            <div class="col-xs-12" style="flex: 0 0 auto; height:35px;">
                <table>
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Route</th>
                            <th class="text-right">N/Leaf</th>
                            <th class="text-right">S/Leaf</th>
                            <th class="text-right">Total Leaves</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 80px);">
                <table class="table-hover">
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col/>
                    <tbody>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route Name 01</td>
                            <td class="text-right">200.00</td>
                            <td class="text-right">300.00</td>
                            <td class="text-right">500.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table style="padding-right: 5px;">
                    <col style="width: 40%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <thead class="background-dark">
                        <tr class="background-light">
                            <th>Total</th>
                            <th class="text-right">500</th>
                            <th class="text-right">300</th>
                            <th class="text-right">800</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="showBfAndCoinValues">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);padding-top: 5px;">
            <div class="col-xs-12">
                <table>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col />
                    <thead>
                        <tr>
                            <th>DESCRIPTION</th>
                            <th>EMPLOYEE/SUPPLIER</th>
                            <th class="text-right">DEBIT</th>
                            <th class="text-right">CREDIT</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 210px);">
                <table>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col />

                    <tbody>
                        <tr ng-repeat="accountTransaction in model.accountTtransactionDetailList">
                            <td >{{accountTransaction.description}}</td>
                            <td>{{accountTransaction.employee!==null?model.getEmployee(accountTransaction.employee):model.getClient(accountTransaction.client)}}</td>
                            <td class="text-right" >{{accountTransaction.debitAmount| currency : '' : 2}}</td>
                            <td class="text-right" >{{accountTransaction.creditAmount| currency : '' : 2}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-12 text-center" style="height: calc(55vh - 0px);" ng-hide="model.accountTtransactionDetailList.length">
                    <h1>NO DETAIL TO DISPLAY :(</h1>
                </div>
            </div>

            <div class="col-xs-12"style="padding-top: 43px;">
                <table>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col />

                    <tbody>
                        <tr class="text-bold">
                            <td>Total</td>
                            <td></td>
                            <td class="text-right">{{model.totalDebitDetail| currency : '' : 2}}</td>
                            <td class="text-right">{{model.totalCreditDetail| currency : '' : 2}}</td>
                        </tr>
                        <tr class="text-bold">
                            <td>Balance</td>
                            <td></td>
                            <td class="text-right">{{model.totalDebitDetail-model.totalCreditDetail| currency : '' : 2}}</td>
                            <td class="text-right">-</td>   
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-default" fab-show="ui.mode ==='NEW'||ui.mode ==='LOAD'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-success" fab-show="ui.mode ==='NEW'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='NEW'||ui.mode ==='LOAD'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
</div>



<div class="col-xs-4 col-xs-offset-3">
    <script type="text/ng-template" id="b/fModal.html"> 
        <div class="modal-header">
        <h3 class="modal-title">I'm a b/fModal.html modal!</h3>
        </div>
        <div class="modal-body">
        </div>
    </script>
</div>