<h1>HOME PAGE</h1>

<div class="">
    <a class="btn btn-default" ng-click="defaultA();" tooltip="Iudico aperiam scripserit">DEFAULT</a>
    <a class="btn btn-primary" ng-click="primary();">PRIMARY</a>
    <a class="btn btn-info" ng-click="info();">INFO</a>
    <a class="btn btn-success" ng-click="success();">SUCCESS</a>
    <a class="btn btn-warning" ng-click="warning();">WARNING</a>
    <a class="btn btn-danger" ng-click="danger();">DANGER</a>
    <a class="btn btn-primary" ng-click="input();">INPUT</a>
    <a class="btn btn-primary" ng-click="modalOpen();">MODAL OPEN</a>
</div>

<br>

<div class="col-xs-3">
    <input smart-input="decimal" class="form-control" ng-model="a" focus tooltip="Iudico aperiam scripserit">
    {{a}}
    <input smart-input="integer" class="form-control" ng-model="b" focus>
    {{b}}
    <input smart-input="date" class="form-control" ng-model="c" focus>
    {{c}}
    <br>
</div>

<div class="col-xs-3">
    <!-- directive:comment -->
</div>

<div class="col-xs-12">
    <button ng-click="informationMessage();">Information message</button>
</div>

<br/>
<!--
<div class="col-xs-3">
    &nbsp;
</div>-->

<div class="col-xs-4 col-xs-offset-3">
    <script type="text/ng-template" id="popup.html"> 
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
    </div>
    </script>
</div>
