<h1>HOME PAGE</h1>

<div class="">
    <a class="btn btn-default">DEFAULT</a>
    <a class="btn btn-primary">PRIMARY</a>
    <a class="btn btn-info">INFO</a>
    <a class="btn btn-success">SUCCESS</a>
    <a class="btn btn-warning">WARNING</a>
    <a class="btn btn-danger">DANGER</a>
</div>

<br>

<div class="col-xs-3">
    <input smart-input="decimal" class="form-control" ng-model="a">
    {{a}}
    <input smart-input="integer" class="form-control" ng-model="b">
    {{b}}
    <input smart-input="date" class="form-control" ng-model="c">
    {{c}}
</div>
