<div class="login">
    <div class="login-window">
        <div class="login-form">
            <div class="login-input">
                <h1>MEMBER LOGIN</h1>
                {{data}}
                <input type="text" ng-model="model.data.username">
                <input type="password" ng-model="model.data.password">
                
                <button type="button" ng-click="ui.login();">LOGIN</button>
            </div>
            <div class="login-display">
                
            </div>
        </div>
    </div>
</div>