<div class="index-content-body ">
    <div class="background-dark col-xs-4 border-dark-right">
        <div class="smart-scroll-y" style="height: calc(100vh - 51px);">

            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>
                    <tr>
                        <td><label class="control-label">NAME</label></td>
                        <td><input class="form-control" id="route" ng-model="model.data.name" ng-disabled="ui.mode !== 'EDIT'" ></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">VEHICLE</label></td>
                        <td><input class="form-control" ng-model="model.data.vehicle" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="vehicle as (vehicle.vehicleNo) for vehicle in model.vehicleList|filter:{vehicleNo:$viewValue}|limitTo:10"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">OFFICER</label></td>
                        <td><input class="form-control" ng-model="model.data.routeOfficer" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="routeOfficer as (routeOfficer.indexNo+ '-' +routeOfficer.name) for routeOfficer in model.employees|filter:{name:$viewValue}| filter : {type : 'ROUTE_OFFICER'} |limitTo:10"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">HELPER</label></td>
                        <td><input class="form-control" ng-model="model.data.routeHelper" ng-disabled="ui.mode !== 'EDIT'" uib-typeahead="routeHelper as (routeHelper.indexNo+ '-' +routeHelper.name) for routeHelper in model.employees|filter:{name:$viewValue}| filter : {type : 'ROUTE_HELPER'}|limitTo:10"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">T/D RATE</label></td>
                        <td><input smart-input="decimal" class="form-control text-right" ng-model="model.data.transportDeductionRate" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="background-light col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <table>
                    <tr>
                        <th>INDEX NO</th>
                        <th>NAME</th>
                        <th>TRANSPORT DEDUCTION</th>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 150px);">
                <table class="table-hover">
                    <tr ng-repeat="data in model.list" ng-click="ui.select(data);" ng-class="model.data.indexNo===data.indexNo?'selected':''">
                        <td><label class="label label-default">{{data.indexNo|fixedLength:5}}</label></td>
                        <td>{{data.name}}</td>
                        <td>{{data.transportDeductionRate|number:2}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 background-dark border-dark-top">
                <div class="row" style="margin: 12px 0 12px 0">
                    <div ng-class="model.totalItems>model.itemsPerPage?'col-xs-4':'col-xs-6'">
                        <input class="search-input" style="margin: 0" ng-model="model.keyword">
                    </div>
                    <div class="col-xs-8" style="height: 32px;" ng-show="model.totalItems>model.itemsPerPage">
                        <ul class="pagination-sm" 
                            uib-pagination  
                            ng-model="model.currentPage" 
                            total-items="model.totalItems" 
                            max-size="model.maxSize"
                            items-per-page="{{model.itemsPerPage}}"
                            boundary-link-numbers="true"
                            style="margin: 0">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fab-container">
        <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>