<div class="index-content-body ">
    <div class="background-dark col-xs-4 border-dark-right">
        <div class="smart-scroll-y" style="height: calc(100vh - 51px);">

            <!--start content table-->
            <div ng-include src="'app/master/' + model.controller + '/form.html'">

            </div>
            <!--end content table-->

        </div>
    </div>

    <div class="background-light col-xs-8">
        <div class="row">
            <div ng-include src="'app/master/' + model.controller + '/list.html'">

            </div>

            <div class="col-xs-12 background-dark border-dark-top">
                <div class="row" style="margin: 12px 0 12px 0">
                    <div ng-class="model.totalItems>model.itemsPerPage?'col-xs-4':'col-xs-6'">
                        <input class="search-input" style="margin: 0" ng-model="model.keyword">
                    </div>
                    <div class="col-xs-8" style="height: 32px;" ng-show="model.totalItems>model.itemsPerPage">
                        <ul class="pagination-sm" 
                            uib-pagination  
                            ng-model="model.currentPage" 
                            total-items="model.totalItems" 
                            max-size="model.maxSize"
                            items-per-page="{{model.itemsPerPage}}"
                            boundary-link-numbers="true"
                            style="margin: 0">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fab-container">
        <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>