<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" ng-show="model.pendingRequest" style="display: flex; flex-flow: column; height: calc(100vh - 51px);">
            <div class="col-xs-12" >
                <table>
                    <col style="width: 70%;"/>
                    <col style="width: 30%;"/>
                    <col />
                    <thead>
                        <tr>
                            <th>CLIENT</th>
                            <th class="text-right">AMOUNT</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 78px);">
                <table class="table-hover table-hover">
                    <col style="width: 70%;"/>
                    <col style="width: 30%;"/>
                    <col />
                    <tbody>
                        <tr ng-class="ui.selectedDetailIndex === detail[0] ? 'selected' : ''" ng-repeat="detail in model.pendingRequest" ng-click="ui.selectDetail(detail);">
                            <td>
                                <span class="label label-primary">{{model.client(detail[3]).indexNo | fixedLength:5}}</span>
                                {{model.client(detail[3]).name}}
                            </td>
                            <td class="text-right">{{detail[4]|number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 30%;"/>
                    <tbody>
                        <tr class="text-bold">
                            <td>SUMMARY</td>
                            <td class="text-right">{{model.pendingRequest.length}}</td>
                            <td class="text-right">{{model.getRequestTotal() | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="placeholder" ng-hide="model.pendingRequest" style="height: calc(100vh - 51px); padding: 10px 0px 10px 0px;">
            <h1>PLEASE SELECT LOAN REQUEST TO DISPLAY :(</h1>
        </div> 
    </div>

    <div class="col-xs-4 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 100px);">
                <table class="control-table">
                    <col style="width: 45%"/>
                    <col style="width: 55%"/>

                    <tbody>  
                        <tr>
                            <td><label class="control-label">Interest Rate</label></td>
                            <td><input smart-input="decimal" class="form-control" ng-model="model.tempData.interestRate"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Installment Count</label></td>
                            <td><input smart-input="integer" class="form-control" ng-model="model.tempData.installmentCount"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Installment Amount</label></td>
                            <td><input smart-input="decimal" class="form-control" ng-model="model.tempData.installmentAmount" disabled></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Panalty Rate</label></td>
                            <td><input smart-input="decimal" class="form-control"  ng-model="model.tempData.panaltyRate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark border-dark-left">
        <side-panel client="model.data.client" date="model.data.date">
        </side-panel>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-danger" fab-show="model.tempList" ng-click="ui.reject();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="model.tempList" ng-click="ui.check();"><i class="glyphicon glyphicon-ok"></i></a>
</div>