<div class="index-content-body ">
    <div class="col-xs-8 background-light">
        <div class="row " style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12 background-dark border-dark-bottom">
                <table class="control-table">
                    <col class="col-xs-6"/>
                    <col class="col-xs-3"/>
                    <col class="col-xs-3"/>

                    <tbody>
                        <tr>
                            <td><input id="branch" class="form-control" smart-input="text" input-hint="branch" ng-model="model.data.branch"  uib-typeahead="branch.indexNo as (branch.indexNo + ' - ' + branch.name) for branch in model.branchs|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.bracnhLable($model)"></td>
                            <td><input class="form-control" smart-input="date"  ng-model="model.data.date" ng-disabled="ui.mode !== 'EDIT'"></td>
                            <td><input class="form-control" smart-input="integer" ng-model="model.data.number" ng-keypress="ui.load($event)"  input-hint="transaction number"  ng-disabled="ui.mode === 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="control-table">
                    <col class="col-xs-3"/>
                    <col class="col-xs-6"/>
                    <col class="col-xs-3"/>
                    <tbody>
                        <tr>
                            <td><input id="client" input-hint="client id" smart-input="integer" class="form-control" ng-model="model.data.searchClient" ng-keypress="ui.searchClient($event);" ng-disabled="ui.mode !== 'EDIT'"></td>
                            <td ng-show="ui.existClient"><input input-hint="client" ng-keypress="ui.checkCustomer($event);" smart-input="text" class="form-control" ng-model="model.data.client"  uib-typeahead="client.indexNo as (client.clientNumber + '-' + client.name) for client in model.clients|filter:{name:$viewValue}|limitTo:10"  typeahead-input-formatter="model.clientLabel($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                            <td ng-show="ui.newClient"><input input-hint="new client" class="form-control" ng-model="model.data.remark" ng-disabled="ui.mode !== 'EDIT'" disabled="true"></td>
                            <td><input class="form-control" input-hint="route" ng-model="model.data.route" uib-typeahead="route.indexNo as (route.indexNo + ' - ' + route.name) for route in model.routes|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.routeLabel($model)" disabled></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            <div class="col-xs-12">        
                <div class="row">
                    <uib-tabset active="indextab">
                        <uib-tab heading="NORMAL LEAVES" select="ui.toggleType('NORMAL');" index="0">
                            <div class="col-xs-12">
                                <table class="control-table with-label">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="text-right">
                                                <label>QTY</label>
                                                <input id="normal-qty" class="form-control text-right" ng-model="model.tempData.quantity" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>CRATES</label>
                                                <input class="form-control text-right" ng-model="model.tempData.crates" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">  
                                                <label>BAGS</label>
                                                <input class="form-control text-right" ng-model="model.tempData.bags" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>POLY BAGS</label>
                                                <input class="form-control text-right" ng-model="model.tempData.polyBags" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-center" style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px;">
                                                <button type="button" class="btn btn-primary" ng-click="ui.insertNormalDetail();" ng-disabled="ui.mode !== 'EDIT'">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 322px);" ng-show="normalLeaves.length">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />
                                    <tbody>
                                        <tr ng-repeat="greenLeavesWeighDetail in normalLeaves = (model.data.greenLeaveWeighDetails|filter:{type:'NORMAL'});">
                                            <td><span class="label label-primary">{{$index + 1|fixedLength:4}}</span></td>
                                            <td class="text-right">{{greenLeavesWeighDetail.quantity|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.crates|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.bags|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.polyBags|number:2}}</td>
                                            <td class="text-center" style="padding-left: 5px;">
                                                <button class="btn btn-danger" ng-click="ui.deleteDetail(greenLeavesWeighDetail.indexNo);" ng-disabled="ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-minus"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="placeholder col-xs-12" style="height: calc(100vh - 322px);" ng-hide="normalLeaves.length">
                                <h1>PLEASE ADD NORMAL LEAVES TO DISPLAY :(</h1>
                            </div>

                            <div class="col-xs-12" style="flex: 0 0 auto;">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>TOTAL</th>
                                            <th class="text-right">{{model.data.normalTotalWeight|number:2}}</th>
                                            <th class="text-right">{{model.data.normalCrates|number:2}}</th>
                                            <th class="text-right">{{model.data.normalBags|number:2}}</th>
                                            <th class="text-right">{{model.data.normalPolyBags|number:2}}</th>
                                            <th class="text-center">
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </uib-tab>

                        <uib-tab heading="SUPER LEAVES" select="ui.toggleType('SUPER');" index="1">
                            <div class="col-xs-12">
                                <table class="control-table with-label">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="text-right">
                                                <label>QTY</label>
                                                <input id="super-qty" class="form-control text-right" ng-model="model.tempData.quantity" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>CRATES</label>
                                                <input class="form-control text-right" ng-model="model.tempData.crates" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">  
                                                <label>BAGS</label>
                                                <input class="form-control text-right" ng-model="model.tempData.bags" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>POLY BAGS</label>
                                                <input class="form-control text-right" ng-model="model.tempData.polyBags" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-center" style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px;">
                                                <button class="btn btn-primary" ng-click="ui.insertSuperDetail();" ng-disabled="ui.mode !== 'EDIT'">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 322px);" ng-show="superLeaves.length">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />
                                    <tbody >
                                        <tr ng-repeat="greenLeavesWeighDetail in superLeaves = (model.data.greenLeaveWeighDetails|filter:{type:'SUPER'});">
                                            <td><span class="label label-danger">{{$index + 1|fixedLength:4}}</span></td>
                                            <td class="text-right">{{greenLeavesWeighDetail.quantity|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.crates|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.bags|number:2}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.polyBags|number:2}}</td>
                                            <td class="text-center" style="padding-left: 5px;">
                                                <a class="btn btn-danger" ng-click="ui.deleteDetail(greenLeavesWeighDetail.indexNo);"><span class="glyphicon glyphicon-minus"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="placeholder col-xs-12" style="height: calc(100vh - 322px);" ng-hide="superLeaves.length">
                                <h1>PLEASE ADD SUPER LEAVES TO DISPLAY :(</h1>
                            </div>

                            <div class="col-xs-12" style="flex: 0 0 auto;">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>TOTAL</th>
                                            <th class="text-right">{{model.data.superTotalWeight|number:2}}</th>
                                            <th class="text-right">{{model.data.superCrates|number:2}}</th>
                                            <th class="text-right">{{model.data.superBags|number:2}}</th>
                                            <th class="text-right">{{model.data.superPolyBags|number:2}}</th>
                                            <th class="text-right">
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </uib-tab>
                        <uib-tab heading="PENDING WEIGHT" index="2">
                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 255px);" ng-show="model.pendingGreenLeavesWeigh.length">
                                <div class="col-xs-12">
                                    <table>
                                        <col style="width: 20%"/>
                                        <col style="width: 25%"/>
                                        <col style="width: 45%"/>
                                        <col style="width: 20%"/>
                                        <col />
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th class="text-left">Date</th>
                                                <th class="text-right">Client</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <table class="table-hover">
                                    <col style="width: 20%"/>
                                    <col style="width: 25%"/>
                                    <col style="width: 45%"/>
                                    <col style="width: 20%"/>
                                    <col/>
                                    <tbody>
                                        <tr ng-repeat="greenLeavesWeight in model.pendingGreenLeavesWeigh">
                                            <td class="text-left"><span class="label label-default">{{greenLeavesWeight.number}}</span></td>
                                            <td class="text-left">{{greenLeavesWeight.date}}</td>
                                            <td class="text-right" ng-show="{{greenLeavesWeight.client}}">{{model.clientLabel(greenLeavesWeight.client);}}</td>
                                            <td class="text-right" ng-hide="{{greenLeavesWeight.client}}"><label class="label label-danger">new</label> {{greenLeavesWeight.remark}}</td>
                                            <td class="text-center" style="padding-left: 5px;">
                                                <a class="btn btn-primary" ng-click="ui.loadWeight(greenLeavesWeight);"><span class="glyphicon glyphicon-floppy-save"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="placeholder col-xs-12" style="height: calc(100vh - 209px); margin-top: 5px;" ng-hide="model.pendingGreenLeavesWeigh.length">
                                <h1>
                                    NO PENDING SUPPLIER GREEN LEAVES WEIGH TO DISPLAY :(
                                    <button class="btn btn-default" ng-click="ui.getPendingGreenLeavesWeigh()"><label class="glyphicon glyphicon-arrow-up"></label>&nbsp;&nbsp; VIEW PENDING WEIGH</button>
                                </h1>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4 background-dark border-dark-left">

        <div class="row animation-fade" style="display: flex; flex-flow: column; height: calc(100vh - 52px);" ng-show="ui.type === 'NORMAL'">
            <div class="col-xs-12">
                <table>
                    <thead>
                        <tr class="selected">
                            <td class="text-center"><h4>NORMAL LEAVES</h4></td>
                        </tr>
                    </thead>
                </table>

                <label class="label-group-title">COLLECTION</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TOTAL</label></td>
                            <td><input class="form-control text-right" ng-model="model.data.normalTotalWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">DEDUCTION</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TARE</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.data.normalTareCalculated" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.data.normalTareDeduction" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">DEDUCTION</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.data.normalGeneralDeductionPercent"  smart-input="integer" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.data.normalGeneralDeduction" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">WATER</label></td>
                            <td>
                                <input class="form-control text-right" type="text" ng-model="model.data.normalWaterDeduction" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">RETURN</label>
                
                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">COARSE LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.normalCoarseLeaves" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">BOILED LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.normalBoiledLeaves" smart-input="integer" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">BALANCE</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">NET WEIGHT</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.normalNetWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row animation-fade" style="display: flex; flex-flow: column; height: calc(100vh - 52px);" ng-show="ui.type === 'SUPER'">
            <div class="col-xs-12">
                <table>
                    <thead>
                        <tr class="selected">
                            <td class="text-center"><h4>SUPER LEAVES</h4></td>
                        </tr>
                    </thead>
                </table>

                <label class="label-group-title">COLLECTION</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TOTAL</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.superTotalWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">DEDUCTION</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TARE</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.data.superTareCalculated" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.data.superTareDeduction" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">DEDUCTION</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.data.superGeneralDeductionPercent" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.data.superGeneralDeduction" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">WATER</label></td>
                            <td>
                                <input class="form-control text-right" type="text" ng-model="model.data.superWaterDeduction" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">RETURN</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">COARSE LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.superCoarseLeaves" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">BOILED LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.superBoiledLeaves" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>

                <label class="label-group-title">BALANCE</label>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">NET WEIGHT</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.data.superNetWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="fab-container">
        <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <a class="fab fab-success" fab-show="ui.mode ==='SELECTED'" ng-click="ui.confirm();"><i class="glyphicon glyphicon-ok"></i></a>
        <a class="fab fab-danger" fab-show="ui.mode ==='EDIT'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="fab fab-success" fab-show="ui.mode ==='IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
        <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>
<!--<div class="index-content-footer">
    content footer
</div>-->