<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12 background-dark border-dark-bottom" style="flex: 0 0 auto;">
                <table class="control-table">
                    <col class="col-xs-6">
                    <col class="col-xs-3">
                    <col class="col-xs-3">
                    <tbody>
                        <tr>
                            <td>
                                <input id="route" class="form-control" ng-model="model.data.route" input-hint="route" uib-typeahead="route.indexNo as (route.indexNo + ' - ' + route.name) for route in model.routes|filter:{name:$viewValue}|limitTo:10" typeahead-input-formatter="model.routeLabel($model)" typeahead-on-select="ui.getRouteOfficerAndRouteHelperAndVehicle($model);" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                            <td>
                                <input class="form-control" smart-input="date" ng-model="model.data.date" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                            <td>
                                <input class="form-control" smart-input="integer"  ng-model="model.data.number" input-hint="transaction number" ng-keypress="ui.load($event);" ng-disabled="ui.mode === 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 " style="flex: 0 0 auto;">
                <table class="control-table">
                    <col style="width: 15%"/>
                    <col style="width: 30%"/>
                    <col style="width: 30%"/>
                    <col style="width: 15%"/>
                    <col style="width: 10%"/>
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>CLIENT ID</label>
                                <input id="clientId" smart-input="integer" class="form-control" ng-model="model.tempData.clientNumber" ng-keypress="ui.searchClient($event);" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th>
                                <label>CLIENT</label>
                                <input type="text" class="form-control" ng-model="model.tempData.client" uib-typeahead="client.indexNo as (client.clientNumber + '-' + client.name) for client in model.clients|filter:{name:$viewValue}|limitTo:10"  typeahead-input-formatter="model.clientLabel($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </th>
                            <th>
                                <label>TEA ITEM</label>
                                <input type="text" ng-model="model.tempData.teaIssueItem" uib-typeahead="teaIssueItem.indexNo as (teaIssueItem.indexNo + ' - ' + teaIssueItem.name) for teaIssueItem in model.teaIssueItems|filter:$viewValue|limitTo:10" class="form-control" typeahead-input-formatter="model.teaIssueItemLabel($model)" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"/>
                            </th>
                            <th>
                                <label>QUANTITY</label>
                                <input smart-input="integer" ng-model="model.tempData.quantity" class="form-control" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"/>
                            </th>
                            <th style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px">
                                <button style="margin-top: 10px;" type="button" class="btn btn-primary" ng-click="ui.addDetail();" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 180px);" ng-show="model.data.teaIssueDetails.length">
                <table class="table-hover">
                    <col style="width: 40%"/>
                    <col style="width: 30%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <tbody >                       
                        <tr ng-repeat="teaIssueDetail in model.data.teaIssueDetails">
                            <td class="text-left"><label class="label " ng-class="model.client(teaIssueDetail.client).route===model.data.route?'label-primary':'label-danger'">{{model.client(teaIssueDetail.client).clientNumber|fixedLength:5}}</label>{{model.client(teaIssueDetail.client).name}}</td>
                            <td class="text-left"><label class="label label-default">{{model.teaIssueItem(teaIssueDetail.teaIssueItem).indexNo|fixedLength:5}}</label>{{model.teaIssueItem(teaIssueDetail.teaIssueItem).name}}</td>
                            <!--<td class="text-right">{{teaIssueDetail.unitPrice| number:2}}</td>-->
                            <td class="text-right">{{teaIssueDetail.quantity|number:2}}</td>
                            <!--<td class="text-right">{{teaIssueDetail.value| number:2}}</td>-->
                            <td>
                                <button class="btn btn-default" ng-click="ui.editDetail($index);" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-danger"  ng-click="ui.deleteDetail($index);" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100% - 180px);" ng-hide="model.data.teaIssueDetails.length">
                <h1>PLEASE ADD TEA ISSUE INFORMATION :(</h1>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 30%;"/>
                    <col style="width: 70%;"/>
                    <thead class="background-dark">
                        <tr>
                            <td>TOTAL VALUE ({{model.data.teaIssueDetails.length}})</td>
                            <td class="text-right">{{model.totalValue | number:2}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark border-dark-left">
        <side-panel client="model.tempData.client" date="model.data.date">

        </side-panel>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-default" fab-show="ui.mode ==='SELECTED' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-danger" fab-show="ui.mode ==='SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
    <a class="fab fab-success" fab-show="ui.mode ==='IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
    <a class="fab fab-lg fab-warning" fab-show="ui.mode ==='SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
</div>