<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12 background-dark border-dark-bottom" style="flex: 0 0 auto; ">
                <table class="control-table">
                    <col class="col-xs-4"/>
                    <col class="col-xs-4"/>

                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" id="request-date" smart-input="date" ng-model="model.data.date">
                            </td>
                            <td>
                                <input class="form-control"  input-hint="transaction number" smart-input="integer" ng-model="model.data.number" ng-keypress="ui.load($event);" placeholder="transaction number"  ng-disabled="ui.mode === 'EDIT'">
                                <a href="client-advance-request.html"></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="col-xs-12 " style="flex: 0 0 auto;">
                <table class="control-table">
                    <col style="width: 15%"/>
                    <col style="width: auto"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 75px"/>

                    <thead class="background-dark">
                        <tr>
                            <th class="text-left">
                                <label>EMP ID</label>
                                <input id="employeeId" smart-input="integer" class="form-control" ng-model="tempEmployee"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.validateEmployee($event)">
                            </th>

                            <th class="text-left">
                                <label>EMPLOYEE </label>
                                <input id="employee" smart-input="text" class="form-control" ng-model="model.tempData.employee" uib-typeahead="employee as (employee.indexNo + ' - ' + employee.name) for employee in model.employees|filter:$viewValue|limitTo:10" typeahead-input-formatter="model.employeeLabel($model)" typeahead-on-select="ui.focusAmount($event);" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-left">
                                <label>MONTH</label>
                                <input class="form-control" ng-model="asAtDate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"/>
                            </th>
                            <th class="text-right">
                                <label>AMOUNT</label>
                                <input id="amount" smart-input="decimal" class="form-control text-right" ng-model="model.tempData.amount" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </th>
                            <th class="text-right" style="vertical-align: bottom; padding-bottom: 5px; padding-right: 10px;">
                                <button class="btn btn-default" ng-click="ui.addRequest();" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-plus"></span></button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 234px);" ng-show="model.data.employeeAdvanceRequestDetails.length">
                <table class="table-hover animation-fade">
                    <col style="width: auto"/>
                    <col style="width: 30%"/>
                    <col style="width: 25%"/>
                    <col style="width: 20%"/>
                    <col style="width: 75px"/>
                    <tbody>
                        <tr ng-repeat="requestDetail in model.data.employeeAdvanceRequestDetails">
                            <td> <span >{{requestDetail.employee | fixedLength:5}}</span>  </td>
                            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                                {{model.employeeLabel(requestDetail.employee)}}
                            </td>
                            <td class="text-right">{{requestDetail.asAtDate}}</td>
                            <td class="text-right">{{requestDetail.amount | number:2}}</td>
                            <td class="text-right">
                                <a class="btn btn-default" ng-click="ui.editRequest($index);"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger" ng-click="ui.deleteRequest($index);"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-xs-12" style="height: calc(100vh - 236px);" ng-hide="model.data.employeeAdvanceRequestDetails.length">
                <h1>PLEASE ADD ADVANCE REQUEST TO DISPLAY :(</h1>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 55%"/>
                    <col style="width: 20%"/>
                    <col style="width: 25%"/>
                    <thead class="background-dark">
                        <tr class="clickable">
                            <th>ADVANCE REQUEST SUMMARY</th>
                            <th class="text-right">{{model.requestTotal.requestTotal}}</th>
                            <th class="text-right">{{model.requestTotal.requestAmountTotal| number:2}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark border-dark-left">
        <side-panel client="model.tempData.client" date="model.tempData.asAtDate">
            
        </side-panel>
    </div>
    <div class="fab-container">
        <!--discard-->
        <a class="fab fab-default" fab-show="ui.mode === 'NEW' || ui.mode==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
        <!--load-->
        <a class="fab fab-warning" fab-show="ui.mode === 'IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
        <!--clear-->
        <a class="fab fab-warning" fab-show="ui.mode === 'SELECTED'" ng-click="ui.clear();"><i class="glyphicon glyphicon-erase"></i></a>
        <!--delete-->
        <a class="fab fab-danger" fab-show="ui.mode === 'SELECTED'" ng-click="ui.delete();"><i class="glyphicon glyphicon-trash"></i></a>
        <!--edit-->
        <a class="fab fab-success" fab-show="ui.mode === 'SELECTED'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>

        <!--new-->
        <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'"  ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
        <!--save-->
        <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'NEW' || ui.mode==='EDIT'"  ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    </div>
</div>