<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12">
                <table class="control-table">
                    <col style="width: 50%">
                    <col style="width: 50%">
                    <tbody>
                        <tr>
                            <td><input id="year" class="form-control" type="text" smart-input="integer" input-hint="year" ng-model="model.data.year" ng-keypress="ui.load($event)" ng-disabled="ui.mode === 'EDIT'"></td>
                            <td><input class="form-control" type="text" smart-input="integer" input-hint="month" ng-model="model.data.month" ng-keypress="ui.load($event)" ng-disabled="ui.mode === 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top: 5px;">
                    <label class="text-center">DEFAULT RATE</label>
                </div>

                <table class="control-table">
                    <col style="width: 50%">
                    <col style="width: 50%">
                    <tbody>
                        <tr>
                            <td><label class="control-label">NORMAL</label></td>
                            <td><input id="deafaultNormalLeavesRate" class="form-control" smart-input="decimal" ng-keypress="ui.defaultNormalRate($event)" ng-model="model.default.normalRate" ng-disabled="ui.mode === 'IDEAL'"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">SUPER</label></td>
                            <td><input class="form-control" smart-input="decimal" ng-keypress="ui.defaultSuperRate($event)" ng-model="model.default.superRate" ng-disabled="ui.mode === 'IDEAL'"></td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="model.tempData.indexNo">
                    <div style="margin-top: 5px;">
                        <label class="text-center">QUANTITY</label>
                    </div>

                    <table class="control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>
                            <tr>
                                <td><label class="control-label">NORMAL</label></td>
                                <td><input class="form-control text-right" type="text" ng-value="model.getTotalLeaves(model.tempData.route)[1]|number:2" ng-disabled="true"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">SUPER</label></td>
                                <td><input class="form-control text-right" type="text" ng-value="model.getTotalLeaves(model.tempData.route)[2]|number:2" ng-disabled="true"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 5px;">
                        <label class="text-center">GREEN LEAVES RATE</label>
                    </div>
                    <table class="control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>
                            <tr>
                                <td><label class="control-label">NORMAL</label></td>
                                <td><input class="form-control text-right" type="text" smart-input="decimal" ng-model="model.tempData.normalRate" ng-keypress="ui.getEditableRate($event)" ng-disabled="ui.mode !== 'EDIT'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">SUPER</label></td>
                                <td><input class="form-control text-right" type="text" smart-input="decimal" ng-model="model.tempData.superRate" ng-keypress="ui.getEditableRate($event)" ng-disabled="ui.mode !== 'EDIT'"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 5px;">
                        <label class="text-center">TOTAL VALUE</label>
                    </div>
                    <table class="control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>
                            <tr>
                                <td><label class="control-label">NORMAL</label></td>
                                <td><input style="margin-top: 5px;" class="form-control text-right" type="text" ng-value="(model.getTotalLeaves(model.tempData.route)[1] * model.tempData.normalRate)|number:2" ng-disabled="true"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">SUPER</label></td>
                                <td><input style="margin-top: 5px;" class="form-control text-right" type="text" ng-value="(model.getTotalLeaves(model.tempData.route)[2] * model.tempData.superRate)|number:2" ng-disabled="true"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="placeholder col-xs-12 table-disply" ng-hide="model.tempData.indexNo" style="height: calc(100vh - 246px);">
                        <h1>PRICE SETTING IS NOT SELECTED :(</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);" ng-show="model.data.indexNo">
            <div class="col-xs-12">
                <table class="background-light">
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <thead>
                        <tr>
                            <th class="text-left">ROUTE</th>
                            <th >QUANTITY</th>
                            <th >RATE</th>
                            <th >VALUE</th>
                        </tr>
                    </thead>
                </table>  
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 102px);">
                <table class="table-hover">
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <tbody >                      
                        <tr style="line-height: 24px;" ng-class="priceSettingDetail.indexNo === model.tempData.indexNo?'selected':''" ng-repeat="priceSettingDetail in model.data.priceSettingDetails" ng-click="ui.selectDetail(priceSettingDetail.indexNo);">
                            <td><span class="label label-primary">{{model.getRoute(priceSettingDetail.route).indexNo | fixedLength:5}}</span>{{model.getRoute(priceSettingDetail.route).name}}</td>
                            <td>
                                <div class="col-xs-4">
                                    <span class="label label-full-width label-default" >N</span>
                                    <br/>
                                    <span class="label label-full-width label-success ">S</span>
                                </div>
                                <div class="col-xs-8 text-right">
                                    {{model.getTotalLeaves(priceSettingDetail.route)[1] | number:2}}
                                    <br/>
                                    {{model.getTotalLeaves(priceSettingDetail.route)[2] | number:2}}
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="col-xs-4">
                                    <span class="label label-full-width label-default">N</span>
                                    <br/>
                                    <span class="label label-full-width label-success">S</span>
                                </div>
                                <div class="col-xs-8">
                                    {{priceSettingDetail.normalRate|number:2}}
                                    <br/>
                                    {{priceSettingDetail.superRate|number:2}}
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="col-xs-4">
                                    <span class="label label-full-width label-default">N</span>
                                    <br/>
                                    <span class="label label-full-width label-success">S</span>
                                </div>
                                <div class="col-xs-8">
                                    {{model.getTotalLeaves(priceSettingDetail.route)[1] * priceSettingDetail.normalRate | number:2}}
                                    <br/>
                                    {{model.getTotalLeaves(priceSettingDetail.route)[2] * priceSettingDetail.superRate | number:2}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <thead class="background-dark">
                        <tr>
                            <td >SUMMARY</td>
                            <td class="text-right">
                                <div class="col-xs-4">
                                    <span class="label label-full-width label-default">N</span>
                                    <br/>
                                    <span class="label label-full-width label-success">S</span>
                                </div>
                                <div class="col-xs-8">
                                    {{model.totalValues.totalNormalQty|number:2}}
                                    <br/>
                                    {{model.totalValues.totalSuperQty|number:2}}
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td class="text-right">
                                <div class="col-xs-4">
                                    <span class="label label-full-width label-default">N</span>
                                    <br/>
                                    <span class="label label-full-width label-success">S</span>
                                </div>
                                <div class="col-xs-8">
                                    {{model.totalValues.totalNormalValue|number:2}}
                                    <br/>
                                    {{model.totalValues.totalSuperValue|number:2}}
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row" ng-hide="model.data.indexNo">
            <div class="placeholder" style="height: calc(100vh - 52px); padding: 5px 5px 5px 5px">
                <h1>PRICE SETTING INFORMATION NOT AVAILABLE UNTIL YEAR AND MONTH ENTRY :(</h1>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-default" fab-show="ui.mode === 'SELECTED' || ui.mode==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-success" fab-show="ui.mode === 'IDEAL'" ng-click="ui.load();"><i class="glyphicon glyphicon-download-alt"></i></a>
    <a class="fab fab-lg fab-warning" fab-show="ui.mode === 'EDIT'" ng-click="ui.edit();"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
</div>
