<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-5 background-light">
        <div style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>                   
                    <tr>
                        <td><label class="control-label ">Date</label></td>
                        <td><input class="form-control" type="date"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Client No</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Client Name</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Tea Grade</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Unite Price</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Qty</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label ">Value</label></td>
                        <td><input class="form-control"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-keypress="ui.keyEvent($event)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
<!--<div class="index-content-footer">
    content footer
</div>-->