<table class="control-table">
    <col style="width: 35%"/>
    <col style="width: 65%"/>

    <tbody>
        <tr>
            <td><label class="control-label">NAME</label></td>
            <td><input class="form-control" ng-model="model.data.name" ng-disabled="ui.mode !== 'EDIT'" ></td>
        </tr>
        <tr>
            <td><label class="control-label">UNIT PRICE</label></td>
            <td><input class="form-control" ng-model="model.data.unitPrice" ng-disabled="ui.mode !== 'EDIT'"></td>
        </tr>
    </tbody>
</table>