@import "mixins/variables.scss";

.background-ultra-dark{
    background-color: $bg-ultra-dark-color;
}

.background-dark{
    background-color: $bg-dark-color;
}

.background-light{
    background-color: $bg-light-color;
}