

<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="animation-fade" style="display: flex; flex-flow: column; height: calc(100vh - 52px); margin-top: 15px">
            <table class="control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>

                <tbody>
                    <tr>
                        <td><label class="control-label">name</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.name" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">NIC Number</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.nicNumber" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Mobile Number</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.mobileNumber" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Telephone Number</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.telephoneNumber" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Address Line 1</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.addressLine1" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Address Line 2</label></td>
                        <td> <input class="date form-control text-right"  ng-model="model.vehicleOwner.addressLine2" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Address Line 3</label></td>
                        <td><input class="form-control text-right" ng-model="model.vehicleOwner.addressLine3" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="search.name" placeholder="search">
        </div>
        <table class="control-table">
            <col style="width: 5%">
            <col style="width: 12%">
            <col style="width: 12%">
            <col style="width: 12%">
            <col style="width: 12%">
            <col style="width: 12%">
            <col style="width: 15%">
            <col style="width: 10%">
            <col style="width: 10%">
            <thead class="background-dark">
                <tr>
                    <th>
                        <label>#</label>
                    </th>
                    <th>
                        <label>Name</label>
                    </th>
                    <th>
                        <label>NIC </label>
                    </th>
                    <th>
                        <label>Mobile</label>
                    </th>
                    <th>
                        <label>Telephone</label>
                    </th>
                    <th>
                        <label>Address</label>
                    </th>
                    <th>
                        <label>Address</label>
                    </th>
                    <th>
                        <label>Address</label>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 315px);">
            <table class="table-hover">
                <col style="width: 5%">
                <col style="width: 12%">
                <col style="width: 12%">
                <col style="width: 12%">
                <col style="width: 12%">
                <col style="width: 12%">
                <col style="width: 15%">
                <col style="width: 10%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="vehicleOwner in model.vehicleOwnerList| filter:search.name">
                        <td><span class="label label-default">{{vehicleOwner.indexNo}}</span></td>
                        <td>{{vehicleOwner.name}}</td>
                        <td>{{vehicleOwner.nicNumber}}</td>
                        <td>{{vehicleOwner.mobileNumber}}</td>
                        <td>{{vehicleOwner.telephoneNumber}}</td>
                        <td>{{vehicleOwner.addressLine1}}</td>
                        <td>{{vehicleOwner.addressLine2}}</td>
                        <td>{{vehicleOwner.addressLine3}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.edit(vehicleOwner, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteVehicleOwner(vehicleOwner.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 background-light" style="position: fixed;bottom: 1px;margin-left: -15px">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
<!--<div class="index-content-footer">
    content footer
</div>-->