<div class="index-content-header"></div>

<div class="index-content-body ">
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12">
                <table class="control-table">
                    <col class="col-xs-6"/>
                    <col class="col-xs-3"/>
                    <col class="col-xs-3"/>

                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" placeholder="select route" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ng-model="route" uib-typeahead="route as (route.indexNo + ' - ' + route.name) for route in model.routes|filter:$viewValue|limitTo:10"></td>
                            <td><input type="date" class="form-control" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                            <td><input type="number" class="form-control" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">        
                <div class="row">


                    <uib-tabset>
                        <uib-tab heading="NORMAL LEAVES" ng-click="ui.toggleType('NORMAL');">
                            <div class="col-xs-12">
                                <table>
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="text-right">
                                                <label>QTY</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.quantity" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>CRATES</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.crates" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">  
                                                <label>BAGS</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.bags" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>POLY BAGS</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.polyBags" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <a class="btn btn-default" ng-click="ui.insertNormal();" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-plus"></span></a>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 270px);">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />
                                    <tbody>
                                        <tr ng-repeat="greenLeavesWeighDetail in model.weigh.greenLeavesWeighDetails|filter:{type:'NORMAL'}">
                                            <td><span class="label label-default">{{$index + 1}}</span></td>
                                            <td class="text-right">{{greenLeavesWeighDetail.quantity}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.crates}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.bags}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.polyBags}}</td>
                                            <td class="text-right">
                                                <a class="btn btn-default" ng-click="ui.deleteNormal(greenLeavesWeighDetail.indexNo);"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-xs-12" style="flex: 0 0 auto;">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>TOTAL</th>
                                            <th class="text-right">{{model.weigh.normalTotalWeight}}</th>
                                            <th class="text-right">{{model.weigh.normalCrates}}</th>
                                            <th class="text-right">{{model.weigh.normalBags}}</th>
                                            <th class="text-right">{{model.weigh.normalPolyBags}}</th>
                                            <th class="text-right">
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </uib-tab>

                        <uib-tab heading="SUPER LEAVES" ng-click="ui.toggleType('SUPER');">
                            <div class="col-xs-12">
                                <table>
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th class="text-right">
                                                <label>QTY</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.quantity" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>CRATES</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.crates" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">  
                                                <label>BAGS</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.bags" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <label>POLY BAGS</label>
                                                <input type="text" class="form-control text-right" ng-model="model.tempWeigh.polyBags" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                            </th>
                                            <th class="text-right">
                                                <a class="btn btn-default" ng-click="ui.insertSuper();" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"><span class="glyphicon glyphicon-plus"></span></a>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 270px);">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />
                                    <tbody >
                                        <tr ng-repeat="greenLeavesWeighDetail in model.weigh.greenLeavesWeighDetails|filter:{type:'SUPER'}">
                                            <td><span class="label label-default">{{$index + 1}}</span></td>
                                            <td class="text-right">{{greenLeavesWeighDetail.quantity}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.crates}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.bags}}</td>
                                            <td class="text-right">{{greenLeavesWeighDetail.polyBags}}</td>
                                            <td class="text-right">
                                                <a class="btn btn-default" ng-click="ui.deleteNormal(greenLeavesWeighDetail.indexNo);"><span class="glyphicon glyphicon-trash"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-xs-12" style="flex: 0 0 auto;">
                                <table class="table-hover">
                                    <col style="width: 10%"/>
                                    <col style="width: 18%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col style="width: 20%"/>
                                    <col />

                                    <thead class="background-dark">
                                        <tr>
                                            <th>TOTAL</th>
                                            <th class="text-right">{{model.weigh.superTotalWeight}}</th>
                                            <th class="text-right">{{model.weigh.superCrates}}</th>
                                            <th class="text-right">{{model.weigh.superBags}}</th>
                                            <th class="text-right">{{model.weigh.superPolyBags}}</th>
                                            <th class="text-right">
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4 background-dark">

        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);" ng-show="ui.type === 'NORMAL'">
            <div class="col-xs-12">
                <table>
                    <thead>
                        <tr>
                            <td class="text-center">NORMAL LEAVES</td>
                        </tr>
                    </thead>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>COLLECTION</td>
                        </tr>
                    </thead>
                </table>



                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TOTAL</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.normalTotalWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>DEDUCTION</td>
                        </tr>
                    </thead>
                </table>


                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TARE</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.weigh.normalTareCalculated" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.weigh.normalTareDeduction" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">DEDUCTION</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.weigh.normalGeneralDeductionPercent"  ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.weigh.normalGeneralDeduction" ng-disabled="true">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">WATER</label></td>
                            <td>
                                <input class="form-control text-right" type="text" ng-model="model.weigh.normalWaterDeduction" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>RETURN</td>
                        </tr>
                    </thead>
                </table>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">COARSE LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.normalCoarseLeaves" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">BOILED LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.normalBoiledLeaves" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>BALANCE</td>
                        </tr>
                    </thead>
                </table>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">NET WEIGHT</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.normalNetWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);" ng-show="ui.type === 'SUPER'">
            <div class="col-xs-12">
                <table>
                    <thead>
                        <tr>
                            <td class="text-center">SUPER LEAVES</td>
                        </tr>
                    </thead>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>COLLECTION</td>
                        </tr>
                    </thead>
                </table>



                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TOTAL</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.superTotalWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>DEDUCTION</td>
                        </tr>
                    </thead>
                </table>


                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>

                    <tbody>
                        <tr>
                            <td><label class="control-label">TARE</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.weigh.superTareCalculated" ng-disabled="true">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.weigh.superTareDeduction" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">DEDUCTION</label></td>
                            <td>
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: left;"  ng-model="model.weigh.superGeneralDeductionPercent" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                <input class="form-control text-right" type="text" style="width: 48%; display: inline; float: right;" ng-model="model.weigh.superGeneralDeduction" ng-disabled="true">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">WATER</label></td>
                            <td>
                                <input class="form-control text-right" type="text" ng-model="model.weigh.superWaterDeduction" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>RETURN</td>
                        </tr>
                    </thead>
                </table>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">COARSE LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.superCoarseLeaves" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">BOILED LEAF</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.superBoiledLeaves" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>


                <table>
                    <thead>
                        <tr>
                            <td>BALANCE</td>
                        </tr>
                    </thead>
                </table>

                <table class="control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label class="control-label">NET WEIGHT</label></td>
                            <td><input class="form-control text-right" type="text" ng-model="model.weigh.superNetWeight" ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="fab-container">
        <a class="fab fab-danger" ng-show="ui.mode === 'SELECTED'"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
        <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode == 'EDIT'" ng-click="ui.finish();"><i class="glyphicon glyphicon-ok"></i></a>
    </div>

    <!--<div class="index-content-footer">
        content footer
    </div>-->