<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">

            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <input type="text" class="search-input" placeholder="search">
                <table>
                    <thead>
                        <tr>
                            <th>ROUTES</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="flex: 1 1 auto;margin-bottom: 10px;">
                <table>
                    <tbody>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">00001</span></td>
                            <td>Route 01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-light">
        <div style="margin-top: 24px;">        
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="no">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="select route officer">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="select route helper">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Normal</label>
                        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Super</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="vehicle no">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table>
                    <col style="width: 40%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>QTY</label>
                                <input type="text" class="form-control">
                            </th>
                            <th>
                                <label>CRATES</label>
                                <input type="text" class="form-control">
                            </th>
                            <th>
                                <label>BAGS</label>
                                <input type="text" class="form-control">
                            </th>
                            <th>
                                <label>A/M</label>
                                <input type="text" class="form-control">
                            </th>
                        </tr>
                    </thead>
                </table>
                <div style="height: 40px; padding-right: 5px;">
                    <table>
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th  class="text-right">Qty</th>
                                <th  class="text-right">Crates</th>
                                <th  class="text-right">Bags</th>
                                <th  class="text-right">A/M</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="smart-scroll-y" style="height: 285px; padding-right: 5px;">
                    <table>
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-right">60</td>
                                <td class="text-right">5</td>
                                <td class="text-right">10</td>
                                <td class="text-right">M</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table>
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                    <thead>
                        <tr class="background-dark">
                            <th>Total</th>
                            <th  class="text-right">50</th>
                            <th  class="text-right">30</th>
                            <th  class="text-right">15</th>
                            <th  class="text-right">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);margin-top: 10px;">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Gross I</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Deducation</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Coarse Leaf</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Boil Leaf</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Return</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="no-text" class="col-xs-5 control-label">Net Weight</label>
                    <div class="col-xs-7">
                        <input class="form-control" id="no-text" type="text">
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<!--<div class="index-content-footer">
    content footer
</div>-->